* {
    border: 0px;
    margin: 0px;
}


.navbar {
    width: 100%;
    height: 50px;
    top: 0;
    position: sticky;
    background-color: lavender;

}

/* 
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lavender;
    text-align: center;
    padding: 5px 0px;
} */

.page {
    min-height: 100vh;
    background-color: lightcyan;
}

.leftSidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: lightblue;
}

.leftSidebarButton {
    margin: 5px;
    padding: 5px;
}


.rightSidebar {
    width: 15%;
    background-color: lightblue;
}

.outletBody {
    width: 70%;
}

.homePage {}

.homePosts {
    width: 100%;
    background-color: gray;
}

.postBox {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px
}

.notifications {
    width: 25%;
    background-color: lightgray;
}

.profile {
    background-color: gray;
}

.followButton {
    background-color: white;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.contactChatList {
    height: 50px;
    border: solid black 2px;
    padding: 5px;
}

.groupChatList {
    height: 50px;
    border: solid black 2px;
    padding: 5px;
}

.usersMain {
    /* width: 70%; */
}

.userBox {
    padding: 10px;
}

.groupsMain {
    /* width: 70%; */
}

.groupBox {
    padding: 10px;
}

.groupPage {
    /* width: 70%; */
}

.homePage {
    display: flex;
    flex-direction: column;
}

.createGroupPage {
    /* width: 70%; */
    display: flex;
    flex-direction: column;
}

.groupEventDiv {
    border: solid gray 1px;
}

.groupEventBox {
    padding: 10px;
    border: solid black 1px;
}

.createEventDiv {
    border: solid black 1px;
}

.createPost {
    border: solid black 1px;
}

.commentToggle {
    background-color: white;
    border: solid white 1px;
}

.commentInput {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto
}

.commentMain {
    border: solid black 1px;
}

.commentBox {
    border: solid red 1px;
}